.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.product-table th,
.product-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    font-weight: bold;
}

.product-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-table tr.error {
    background-color: #ffdddd;
    color: red;
}


@media screen and (max-width: 600px) {
    .product-table {
        font-size: 14px;
    }

    .product-table th,
    .product-table td {
        padding: 6px;
    }
}